<div class="row text-center">
    <!-- <i class="fa fa-spin fa-cog fa-5x"></i>-->
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        Please select a short password. It must be no more than 10 characters long and can
        be numbers or letters.
        <br />
        <br />
        <input type="password" ng-model="PASSWORD" name="PASSWORD" class="form-control text-center"
               placeholder="ENTER PASSWORD" required />
    </div>
    <div class="col-md-1">
    </div>
</div>
